*{
	box-sizing: border-box
}
#main{
	width: "justify";
	margin: 0 auto;

}
#header{
	background: white url(Logo.jpg) no-repeat 35% center;
	height: 100px;
	border-bottom: 1px solid black
}
#title{
	font-size: 50px;
	float: center;
	margin-left: 800px;
	font-family: tahoma;
	color: black;
	padding-top: 15px;
}
#about{
	float: right;
	list-style: none;
	margin-right: 50px
}
#about a{
	color: black;
}
#sidebar{
	font-size: 19px;
	width: 200
	height: 500px;
	float: left;
}
.menu{
	font-size: 20px;
	margin-left: -30px;
	list-style: none;
}
#content{
	font-size: 32px;
	float: center;
	margin-left: 700px;
	margin-right: 580px;
	font-family: calibri;
	color: black;
	padding-top: 350px;
	height: 900px

}
#footer{
	height: 75px;
	clear: both;
	border-top: 1px solid black;
}